<!-- Course: CST 205
    File: html file for the second page of flask application where user can see original and translated text from uploaded image
    Authors: Keshav Gupta, Aryana Beulna, Allyson Rivera, Betsy Ruiz
    Date: December 17, 2020 -->
<!doctype html>
<html lang="en">
 <head>
   {% block head %}
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <style>
       a:link {
       color: white;
       background-color: transparent; <!-- style of page -->
       text-decoration: none;
       }
 
       a:visited {
       color: white;
       background-color: transparent;
       text-decoration: none;
       }
       </style>
     {% block styles %}
       {{ bootstrap.load_css() }}
     {% endblock %}
 
     <title>Your page title</title>
   {% endblock %}
 </head>
<body>
 {% block content %}
 <div class = "container">
   <h3>Text From Image: </h3>
   <p>{{text}}</p> <!-- printing origianl text and after line 38 prints translated text -->
   <div></div>
   <h3>Translated: </h3>
   <p>{{t_text}}</p>
   <br></br>
   <button class="btn btn-primary"><a href="{{ url_for('home')}}">Back</a></button>
 </div>
 {% endblock %}
</body>
 
</html>
